#graph-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#right{
    color: #ff6857;
}

#left{
    color: #5ebfff;
}

.graph{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}